/* ==========================================================================
Main page styles
========================================================================== */

.input-show-number {
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .input-show-number {
    width: 50%;
  }
}

.mb-custom {
  margin-bottom: 15px;
}
.refresh-button {
  margin-bottom: 30px;
}

.text-check {
  font-size: 30px;
  padding: 10px;
  flex: auto;
}

.hiragana-item {
  border: groove 1px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 100%;
}

.hiragana-k {
  margin-right: auto;
}

.hiragana-v {
  color: red;
}

@media only screen and (max-width: 600px) {
  .mode-check {
    margin-top: 10px;
  }
}

.mb-search-custom {
  margin-bottom: 15px;
  display: flex;
}
